<% include header %>
<header>
	<h1>Ntalk</h1>
	<h4>Aconteceu algo terrível! :(</h4>
</header>
<p>
	Veja os detalhes do erro:<br/>
	<%- error.message %>
</p>
<p><a href="/">Home</a></p>
<% include footer %>